<% const data = {
  title: 'Главная страница'
} %>

<%- require("../layouts/head.ejs")(data) %>

<section class="section">
  <h1>Lorem ipsum dolor.</h1>
  <div>
    Обычная кнопка:
    <%- require("../components/button/template.ejs")() %>
  </div>

  <div>
    Обычная кнопка:
    <%- require("../components/button/template.ejs")({
      extraClasses: [
        "button--transparent"
      ],
      icon: "arrow-right"
    }) %>
  </div>

  <div>
    Кнопка с иконкой:
    <%- require("../components/button/template.ejs")({
      icon: "icon-eye"
    }) %>
  </div>

  <div>
    Кнопка-ссылка:
    <%- require("../components/button/template.ejs")({
      label: "Contact us",
      href: "/"
    }) %>
  </div>

  <div>
    Обычная кнопка:
    <% const params = {
      src: '#modal-feedback',
    } %>
    <%- require("../components/button/template.ejs")({
      extraAttrs: [
        `data-js-modal-open-button=${JSON.stringify(params)}`
      ],
      label: 'Обратная связь'
    }) %>
  </div>
</section>



<section>
  <div class="swiper slider-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/slide_1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_3.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_3.jpg" alt="">
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<section>
  <div class="swiper slider-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/slide_1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_3.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_3.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="swiper slider-secondary">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/slide_1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="./images/slide_3.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<%- require("../layouts/hero.ejs")() %>
<%- require("../layouts/geography.ejs")() %>
<%- require("../layouts/foot.ejs")() %>
