<%
const cfg = {...require("./data.json"), ...arguments?.[0]}
const {
  extraClasses,
  extraAttrs,
  label,
  labelIsHidden,
  value,
  type,
  required,
  autocomplete,
  readOnly,
  transparent,
  id,
  name
} = cfg
%>
<%
let additionalClass = transparent ? 'input--transparent' : '';
additionalClass += labelIsHidden ? " input--value-only" : "";
const classes = `input ${extraClasses.join(" ")} ${additionalClass}`.trim()
const attrs = extraAttrs.join(" ")
%>

<div
  class="<%= classes %>"
  <%- attrs %>
>
  <% if(type === "textarea"){ %>
    <textarea
      class="input__field"
      <% if(value) { %>
      value=<%- value %>
      <% } %>
      id="<%- id %>"
      name="<%- name %>"
    <% if(required) { %>
      required
      <% } %>
    <% if(autocomplete) { %>
      autocomplete
      <% } %>
    <% if(readOnly) { %>
      readonly
      <% } %>
    <% if(!labelIsHidden) { %>
      placeholder=" "
      <% } %>
    ></textarea>

  <% } else { %>
    <input
      type="<%= type %>"
      class="input__field"
    <% if(value) { %>
      value=<%- value %>>
    <% } %>
    id="<%- id %>"
    name="<%- name %>"
    <% if(required) { %>
      required
    <% } %>
    <% if(autocomplete) { %>
      autocomplete
    <% } %>
    <% if(readOnly) { %>
      readonly
    <% } %>
    <% if(!labelIsHidden) { %>
      placeholder= " "
    <% } %>
    >
  <% } %>
  <label class="input__label"
         for="<%- id %>"
  >
    <%- label %>
    <% if(required) { %>
      *
    <% } %>
  </label>
</div>
