<%
const cfg = {...require("./data.json"), ...arguments?.[0]}
const {
  extraClasses,
  extraAttrs
} = cfg
%>
<%
const classes = `header ${extraClasses.join(" ")}`.trim()
const attrs = extraAttrs.join(" ")
%>

<header
  class="<%= classes %>"
  <%- extraAttrs %>
>
  <div class="header__logo">
    <%- require("../logo/template.ejs")({
      img: {
        src: "../../images/header-logo.png",
        width: "253px",
      },
      title: "Компания",
      href: "#"
    }) %>
  </div>
  <div class="header__navigation">
    <%- require("../navigation/template.ejs")({
      links: [
        {
          text: "О компании",
          href: "#"
        },
        {
          text: "Продукция",
          href: "#"
        },
        {
          text: "Исследования",
          href: "#"
        },
        {
          text: "События",
          href: "#"
        },
        {
          text: "Контакты",
          href: "#"
        },
      ],
      numbActive: 2
    }) %>
  </div>
  <div class="header__callback">
    <%- require("../button/template.ejs")({
      extraAttrs: [`data-js-modal-open-button = '{"src": "#modal-feedback"}'`],
      label: "Обратная связь!"
    }) %>
  </div>
  <div class="header__lang-switcher">
    <%- require("../lang-switcher/template.ejs")() %>
  </div>
  <div class="header__search">
    <%- require("../button/template.ejs")({
      extraClasses: ["button--transparent"],
      label: "Поиск",
      labelIsHidden: true,
      icon: "icon-search"
    }) %>
  </div>
</header>
