<section class="section hero">
  <div class="slider-hero swiper">
    <div class="slider-hero__wrapper swiper-wrapper">
      <div class="swiper-slide slider-hero__slide">

        <h1 class="hero__title">Проект
          «Люди — природе» </h1>
        <div class="hero__description">Проект «Люди — природе» стартовал весной 2019 года при поддержке
          Европейского
          Союза в России и направлен на вовлечение общественности в охрану окружающей среды в Кавказском, Алтае-Саянском
          и
          Амурском экорегионах.
        </div>
        <%- require("../components/button/template.ejs")({
          extraClasses: ["hero__btn"],
          icon: "icon-arrow",
          caption: {
            text: "В каталог",
            isHidden: false
          }
        }) %>
        <img src="../images/hero/slide_0.jpg" alt="" class="hero__img">
      </div>
      <div class="swiper-slide slider-hero__slide">
        <img src="../images/hero/slide_0.jpg" alt="" class="hero__img">
        <h1 class="hero__title">Проект
          «Люди — природе» </h1>
        <div class="hero__description">Проект «Люди — природе» стартовал весной 2019 года при поддержке
          Европейского
          Союза в России и направлен на вовлечение общественности в охрану окружающей среды в Кавказском, Алтае-Саянском
          и
          Амурском экорегионах.
        </div>
        <%- require("../components/button/template.ejs")({
          extraClasses: ["hero__btn"],
          icon: "icon-arrow",
          caption: {
            text: "В каталог",
            isHidden: false
          }
        }) %>
      </div>
    </div>
    <div class="slider-hero__navigation">
      <div class=" slider-hero-prev ">
        <svg class=" i-icon i-icon-slider-arrow">
          <use href="#icon-slider-arrow"></use>
        </svg>
      </div>
      <div class=" slider-hero-next">
        <svg class=" i-icon i-icon-slider-arrow">
          <use href="#icon-slider-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="hero__advantages">
    <ul class="hero__advantages-list">
      <li class="hero__advantages-item">
        <span class="hero__advantages-value">60</span>
        <span>лет на рынке</span>
      </li>
      <li class="hero__advantages-item">
        <span class="hero__advantages-value">5</span>
        <span>новых мест</span></li>
      <li class="hero__advantages-item">
        <span class="hero__advantages-value">>600</span>
        <span>миллионов выделено</span></li>
      </li>
      <li class="hero__advantages-item">
        <span class="hero__advantages-value">>100</span>
        <span>стран присутствия</span></li>
      </li>
      <li class="hero__advantages-item">
        <span class="hero__advantages-value">478</span>
        <span>добрых дел было сделано в 2021 году</span></li>
      </li>
    </ul>
  </div>
  <%- require("../components/button/template.ejs")({
    extraAttrs: [`data-js-modal-open-button = '{"src": "#modal-feedback"}'`],
    caption: {
      text: "Открыть",
      isHidden: false
    }
  }) %>

  <%- require("../components/input/template.ejs")({
    label: "ФИО"

  }) %>
</section>

<section>
  <header class="modal__header">
    <div class="modal__title h3">
      Обратная связь
    </div>
  </header>
  <div class="modal__body">
    <form action="./json/exampleSuccessForm.json" method="post" class="form" novalidate autocomplete="off" data-js-form>
      <input class="form-input" type="text" name="name" id="" data-js-input-validate="">
      <input class="form-input" type="text" name="user-email" id="" data-js-input-validate="email">
      <%- require("../components/button/template.ejs")({
        type: "submit",
        caption: {
          text: "Отправить",
          isHidden: false
        }
      }) %>
    </form>
  </div>
  <footer class="modal__actions">
    <%- require("../components/button/template.ejs")({
      extraAttrs: [
        'data-js-modal-close-button'
      ],
      label: "Отменить"
    }) %>
  </footer>
</section>
