<div
  class="modal modal--feedback"
  id="modal-feedback"
  data-js-modal
>
  <header class="modal__header">
    <div class="modal__title h3">
      Обратная связь
    </div>
  </header>
  <div class="modal__body">
    <form action="#" class="form-feedback">
      <span class="form-feedback__legend">Оставьте Ваши данные, наш специалист свяжется с Вами в ближайшее время.</span>
      <fieldset class="form-feedback__fieldset">
        <div class="form-feedback__name">
          <%- require("../components/input/template.ejs")({
            label: "ФИО",
            id: "feedback__name",
            name: "name"
          }) %>
        </div>
        <div class="form-feedback__phone">
          <%- require("../components/input/template.ejs")({
            type: "tel",
            label: "Телефон",
            id: "feedback__phone",
            name: "phone"
          }) %>
        </div>
        <div class="form-feedback__email">
          <%- require("../components/input/template.ejs")({
            type: "email",
            label: "Электронная почта",
            id: "feedback__email",
            name: "email"
          }) %>
        </div>
        <div class="form-feedback__message">
          <%- require("../components/input/template.ejs")({
            type: "textarea",
            label: "ФИО",
            id: "feedback__message",
            name: "message"
          }) %>
        </div>
      </fieldset>
      <footer class="form-feedback__footer">
        <div class="form-feedback__grecaptcha"></div>
        <div class="form-feedback__privacy">
          <%- require("../components/checkbox/template.ejs")({
            id: "form-feedback__privacy",
            name: "privacy",
            type: "checkbox",
            label: "Согласен (согласна) с политикой конфиденциальности"
          }) %>
        </div>
        <div class="form-feedback__submit">
          <%- require("../components/button/template.ejs")({
            extraAttrs: [
              'data-js-modal-close-button'
            ],
            icon: "icon-arrow",
            label: "Отправить"
          }) %>
        </div>
      </footer>
    </form>
  </div>

</div>